.figure {

}

.figcontent {
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: stretch;
  align-items: center;
}

.figcaption {
  color: gray;
  margin: 16px;

  text-wrap: balance;
  text-align: center;
}

.subfigure {

}

.subfigure img {
  display: block;
  margin: 0 auto;
  width: auto;
  max-height: 256px;
}