---
import { getBlogPosts } from '@root/util/query';
import LayoutDefault from '@root/layouts/LayoutDefault.astro';
import ColumnNormal from '@root/layouts/ColumnNormal.astro';
import PostPreview from '@root/components/content/PostPreview.astro';

const posts = (await getBlogPosts({ includeSeries: false })).sort(
	(a, b) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf()
);
---

<LayoutDefault pageTitle={"Blog Posts"}>
<ColumnNormal>
	<h1>Blog Posts</h1>
	<section>
			{
				posts.map((post) => (
					<PostPreview postSlug={post.id}/>
				))
			}
	</section>
</ColumnNormal>
</LayoutDefault>