/* default border-box (see https://stackoverflow.com/a/35256494/1444650) */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* -------------------------------------------------------------------------- */

body {
  margin: 0;
  tab-size: 4;

  /* fonts */
  font-family: var(--font-family);
  font-weight: var(--font-weight);
}