/* default border-box (see https://stackoverflow.com/a/35256494/1444650) */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* -------------------------------------------------------------------------- */

body {
  margin: 0;
  tab-size: 4;

  /* fonts */
  font-family: var(--font-normal-family);
  font-weight: var(--font-normal-weight);
	font-size: var(--font-normal-size);

  /* color */
  color: var(--font-normal-color);
}

/* ---- basic html elements ------------------------------------------------- */

b {
  font-weight: var(--font-bold-weight);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
  line-height: var(--line-height);
}

/* ---- column widths ------------------------------------------------------- */

.column-normal {
  margin: 0 auto;
  padding: 0 var(--gap-1);
  max-width: var(--column-normal-max-width);
  min-width: var(--column-normal-min-width);
}

.column-large {
  margin: 0 auto;
  max-width: var(--column-large-max-width);
  min-width: var(--column-large-min-width);
}

/* ---- header icons -------------------------------------------------------- */

.heading {
  position: relative;
}

.heading .anchor-link {
  color: var(--font-normal-color);
  text-decoration: none;
}

.anchor-link:hover:before {
  content: "";
  display: inline-block;
  position: absolute;
  left: calc(-1*(var(--size) + 0.5em));
  top: 0;
  bottom: 0;
  margin: auto 0;

  --size: 0.9em;
  height: var(--size);
  width: var(--size);

  margin-left: 0.2em;

  background-image: url("/icons/link.svg");
  background-size: var(--size);
  background-repeat: no-repeat;
}

/* -------------------------------------------------------------------------- */

.katex .base {
  font-size: 0.95em;
}

/* -------------------------------------------------------------------------- */

article blockquote {
  border: 1px solid black;
  padding: var(--gap-1);
  margin: 0 auto;
  max-width: 30rem;
  text-align: center;
}

article blockquote p:first-child {
  margin-top: 0;
}

article blockquote p:last-child {
  margin-bottom: 0;
}