/* default border-box (see https://stackoverflow.com/a/35256494/1444650) */

html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

/* -------------------------------------------------------------------------- */

body {
  margin: 0;
  tab-size: 4;

  /* fonts */
  font-family: var(--font-normal-family);
  font-weight: var(--font-normal-weight);
	font-size: var(--font-normal-size);

  /* color */
  color: var(--font-normal-color);
}

/* ---- basic html elements ------------------------------------------------- */

b {
  font-weight: var(--font-bold-weight);
}

a {
  color: var(--color-link);
  text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

p {
  line-height: var(--line-height);
}

/* ---- column widths ------------------------------------------------------- */

.column-normal {
  margin: 0 auto;
  max-width: var(--column-normal-max-width);
  min-width: var(--column-normal-min-width);
}