@font-face {
  font-family: "Lora";
  src: url("/fonts/lora/Lora-VariableFont_wght.ttf") format(truetype) tech(variations);
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/lora/Lora-Italic-VariableFont_wght.ttf") format(truetype) tech(variations);
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}

/* ------------------------------------------------------ */

:root {
  /* font sizes */
  --font-size-small:   0.8rem;
  --font-size-normal:  1.06rem;
  --font-size-large:   1.25rem;
  --font-size-larger:  1.4rem;
  --font-size-largest: 1.6rem;
  --font-size-huge:    1.8rem;
}

@media(max-width: 42em) {
  :root {
    /* font sizes */
    --font-size-small:   0.8rem;
    --font-size-normal:  1.0rem;
    --font-size-large:   1.1rem;
    --font-size-larger:  1.2rem;
    --font-size-largest: 1.6rem;
    --font-size-huge:    1.8rem;
  }
}

:root {
  /* page dimensions */
  --column-thin-max-width: 46rem;
  --column-thin-min-width: 25rem;
  --column-normal-max-width: 52rem;
  --column-normal-min-width: 25rem;
  --column-large-max-width: 60rem;
  --column-large-min-width: 30rem;

  --min-width: var(--column-normal-min-width);
  --max-width: var(--column-normal-max-width);

	--header-height: 60px;
	--line-height: 1.4em;

  /* gaps */
  --gap-0: 0.5rem;
  --gap-1: 1.0rem;
  --gap-2: 1.5rem;
  --gap-3: 2.0rem;

  /* colors */
  --color-text: #000;

  /* fonts */
	--code-font: "Droid Sans Mono", "Ubuntu Mono", "Consolas", monospace;
	--serif-font: "Lora", Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	/* --sans-font: "Roboto", system-ui, sans-serif; */
  --sans-font: system-ui, sans-serif;

  /* font: normal */
  --font-normal-family: var(--serif-font);
  --font-normal-color: var(--color-text);
  --font-normal-size: var(--font-size-normal);
  --font-normal-weight: normal;

  /* font: heading */
  --font-heading-weight: 600;
  --font-heading-color: var(--font-normal-color);
  --font-heading-color-lighter: #606060;

  --font-heading-1-size: var(--font-size-largest);
  --font-heading-2-size: var(--font-size-larger);
  --font-heading-3-size: var(--font-size-large);
  --font-heading-4-size: var(--font-size-large);
  --font-heading-5-size: var(--font-size-normal);

  --font-heading-1-color: var(--font-heading-color);
  --font-heading-2-color: var(--font-heading-color);
  --font-heading-3-color: var(--font-heading-color-lighter);
  --font-heading-4-color: var(--font-heading-color);
  --font-heading-5-color: var(--font-heading-color);

  /* font: title */
	--font-title-size: var(--font-size-larger);
  --font-title-weight: 600;

  /* font: subtitle */
  --font-subtitle-color: #808080;

  --font-size-post-title: var(--font-title-size);
  --font-size-post-subtitle: var(--font-size-large);

  /* font: bold */
  --font-bold-weight: 600;

  /* font: code */
  --font-code-size: 0.85em;
}

/* colors */
:root {
	--color-link: #0069c2;
}

/* theme colors */
:root {
	--theme-1: #051c43; /* oxford blue */
	--theme-2: #073559; /* prussian blue */
	--theme-3: #54c085; /* cambridge blue */
	--theme-4: #e8b678; /* tan */
	--theme-5: #e58061; /* burnt sienna */
}

/* responsive */
:root {
  --responsive-width: 52rem;
}