@font-face {
  font-family: "Lora";
  src: url("/fonts/lora/Lora-VariableFont_wght.ttf") format(truetype) tech(variations);
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: oblique 0deg 20deg;
}

@font-face {
  font-family: "Lora";
  src: url("/fonts/lora/Lora-VariableFont_wght.ttf") format(truetype) tech(variations);
  font-weight: 125 950;
  font-stretch: 75% 125%;
  font-style: italic;
}

/* ------------------------------------------------------ */

:root {
  /* page dimensions */
  --column-normal-max-width: 52rem;
  --column-normal-min-width: 25rem;
  --column-large-max-width: 64rem;
  --column-large-min-width: 30rem;

  --min-width: var(--column-normal-min-width);
  --max-width: var(--column-normal-max-width);

	--header-height: 60px;
	--line-height: 1.4em;

  /* fonts */
	--code-font: "Droid Sans Mono", "Ubuntu Mono", "Consolas", monospace;
	--serif-font: "Lora", Charter, 'Bitstream Charter', 'Sitka Text', Cambria, serif;
	--sans-font: "Roboto", system-ui, sans-serif;

  /* font: normal */
  --font-normal-family: var(--serif-font);
  --font-normal-color: #303030;
  --font-normal-size: 0.95rem;
  --font-normal-weight: normal;

  /* font: title */
	--font-title-size: 1.3em;

  /* font: bold */
  --font-bold-weight: 600;
}

/* colors */
:root {
	--color-link: #2a7ae2;
}

/* theme colors */
:root {
	--theme-1: #051c43; /* oxford blue */
	--theme-2: #073559; /* prussian blue */
	--theme-3: #54c085; /* cambridge blue */
	--theme-4: #e8b678; /* tan */
	--theme-5: #e58061; /* burnt sienna */
}