---
interface Props {
  tags: string[]
  tools: string[]
}

const { tags, tools } = Astro.props;

---

<span class="post-tags">
  {tags.map(tag => {
    return <><span class="tag">{tag}</span> </>
  })}
  {tools.map(tool => {
    return <><span class="tool">{tool}</span> </>;
  })}
</span>

<style>
.post-tags {
  font-family: var(--sans-font);
}

.post-tags .tag,
.post-tags .tool {
	display: inline-block;
	padding: 0.1em 0.4em;
  border-radius: 0.1em;
	white-space: nowrap;
  font-size: var(--font-size-small);
  border: 1px solid;
  border-radius: 0.2em;
  line-height: 1.2em;
}

.post-tags .tag {
	background-color: #e3e9ef;
	color: #254298;
}

.post-tags .tool {
	background-color: #e3efe4;
	color: darkgreen;
}
</style>