---
import type { CollectionEntry } from 'astro:content';
interface Props {
  post: CollectionEntry<'blog'>;
}

const { post } = Astro.props;
---

<div>
<a href={`/blog/${post.slug}`}>{post.data.title}</a>
</div>