---
import HeaderButton from './HeaderButton.astro';
import HeaderIcon from './HeaderIcon.astro';
import HeaderShapes from './HeaderShapes.astro';
---

<header>
	<div class="header-background">
		<HeaderShapes />
	</div>
	<nav class="header-nav">
		<!-- name -->
		<div class="header-name">
			<a href="/">Benjamin R. Bray</a>
		</div>
		<!-- buttons -->
		<div class="header-buttons">
			<HeaderButton href="/blog">Blog</HeaderButton>
			<HeaderButton href="/series">Guides</HeaderButton>
			<HeaderButton href="/projects">Projects</HeaderButton>
			<HeaderButton href="/journal">Journal</HeaderButton>
			<HeaderButton href="/about">Resume</HeaderButton>
			<!-- <HeaderButton href="/favorites">Favorites</HeaderButton> -->
		</div>
		<!-- icons -->
		<div class="header-icons">
			<HeaderIcon href="/rss.xml" iconSrc="/public/icons/rss.svg" />
			<HeaderIcon href="https://github.com/benrbray" iconSrc="/public/icons/github.svg" />
			<HeaderIcon href="/search" iconSrc="/public/icons/search.svg" /></div>
		</div>
	</nav>
</header>

<style>
.header-nav {
	position: relative;
	display: flex;

	margin: 2em auto;
	padding: 0 1em;
	max-width: var(--max-width);
	font-size: 1.125em;
	font-weight: bold;

	justify-content: space-between;
	align-items: stretch;
}

@media (max-width: 640px) {
	.header-nav {
		display: grid;
		grid-template-areas:
			"name icons"
			"buttons buttons";
		
		flex-direction: column;
		gap: 1.0em;
	}

	.header-name {
		grid-area: name;
	}

	.header-buttons {
		grid-area: buttons;
		justify-content: space-between;
	}

	.header-icons {
		grid-area: icons;
	}

	.header-icons {
		font-size: 1.2em;
	}
}

@media (min-width: 641px) {
	.header-buttons {
		justify-content: space-around;
	}
}

.header-background {
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	z-index: -1;
	/* width: 100%; */
	/* max-width: 100vw; */
	height: 8em;
	margin: 0 auto;
	overflow: hidden;
}

.header-name {
	margin-right: 1em;
	text-align: center;
	text-wrap: nowrap;
}

.header-name a {
	color: inherit;
}

.header-buttons {
	flex: 1;
	display: flex;
}

.header-icons {
	display: flex;
	gap: 0.5em;

	margin-left: 0.5em;
	justify-content: center;
}
</style>

<style>
/* @media (max-width: 40rem) {
	#header-nav {
		grid-template-columns: 1fr 1fr;
		grid-auto-flow: row dense;
		grid-auto-rows: var(--header-height);
	}
	#header-nav li:first-child {
		grid-column: 1 / span 2;
		width: 100%;
		text-align: center;
	}
}

@media (min-width: 40rem) {
	#header-nav {
		grid-auto-flow: column;
	}
}

#header-box {
	border-bottom: 0.4rem solid var(--theme-3);
	background-color: var(--theme-2);
	color: white;
}

#header {
	margin: 0 auto;
	padding: 0 10px;
	max-width: var(--max-width);
}

#header-nav {
	display: grid;
	margin: 0;
	padding: 0;
	list-style-type: none;
	font-family: var(--sans-font);
	font-size: 1.125em;
}

#header-nav li {
	margin: unset;
}

#header-name {
	margin-right: 20px;
	height: var(--header-height);
	line-height: var(--header-height);
	vertical-align: middle;
	user-select: none;
	cursor: pointer;
	color: inherit;
	font-family: var(--serif-font);
	font-size: 1.4em;
	text-decoration: none;
}

#header-nav .header-button {
	display: inline-block;
	color: #97ceb2;
}

#header-nav .header-button a {
	display: block;
	width: auto;
	height: var(--header-height);
	line-height: var(--header-height);
	color: inherit;
	text-decoration: none;
	text-align: center;
	cursor: pointer;
	user-select: none;
}

#header-nav .header-button:hover {
	color: #000;
	background-color: #eee;
	cursor: pointer;
} */
</style>
