---
import Shape from "../../design/Shapes.astro";
---

<div class="header-shapes">
  <div class="container">
    <div class="origin" />
    <!-- green circle -->
    <Shape
      client:load uniqueId="circle1"
      width="30rem" tx="-31.5em" ty="-23.5em"
      theta="0deg"
      fill="rgba(169, 255, 198, 0.35)"
      halo1={{
        color: "#73c89288"
      }}
      halo2={{
        color: "#73c892"
      }}
    >
      <circle id="circle1-path" cx="0.5" cy="0.5" r="0.5" />
    </Shape>
    <!-- blue triangle -->
    <Shape
      client:load uniqueId="triangle1"
      width="18rem" tx="-9em" ty="-8em"
      theta="134deg"
      fill="#C8F1F3aa"
      halo1={{
        color: "#68C6CC"
      }}
      halo2={{
        color: "#68C6CC66"
      }}
    >
      <polygon id="triangle1-path" points="0.5 0.2, 1 1, 0 1"></polygon>
    </Shape>
    <!-- red square -->
    <Shape
      client:load uniqueId="rect1"
      width="25rem" tx="7em" ty="-20em"
      theta="-12deg"
      fill="#E7C3F2e8"
      halo1={{
        color: "#ff0",
        blurStdDev: "0.23",
        offsetX: "0.05",
        offsetY: "0.05"
      }}
      halo2={{
        color: "#D067B5",
        blurStdDev: "0.23",
        offsetX: "-0.05",
        offsetY: "-0.05"
      }}
    >
      <rect id="rect1-path" width="100%" height="100%" />
    </Shape>
    <!-- <Shape client:load uniqueId="testshape2" tx="5em" ty="-1em" fill="#00f6"/> -->
  
  <!-- CIRCLE -->
  <!-- <svg
    viewBox="0 0 100 100"
    preserveAspectRatio="xMinYMin"
    class="pink-oval"
    aria-hidden="true"
  >
    <defs>
      <filter id="pink-oval-shadow">
        <feGaussianBlur in="SourceGraphic" stdDeviation="10" />
        <feOffset dy="-10" dx="-10" />
        <feComposite
          in2="SourceGraphic"
          operator="arithmetic"
          k2="-1"
          k3="1"
          result="firstShadow"
        />
        <feFlood flood-color={"#73c892" /* was #F2958E */} />
        <feComposite in2="firstShadow" operator="in"></feComposite>
        <feComposite
          in2="SourceGraphic"
          operator="over"
          result="firstShadow"></feComposite></filter
        >
      </defs>
    <circle
      cx="50"
      cy="50"
      r="50"
      filter="url(#pink-oval-shadow)"
      fill= "rgba(169, 255, 198, 0.54)"
    />
    </svg> -->
    <!-- RECTANGLE -->
    <!-- <svg viewBox="0 0 100 100" preserveAspectRatio="xMinYMin" class="magenta-rectangle" aria-hidden="true">
      <defs>
        <filter id="magenta-rectangle-shadow">
          <feGaussianBlur in="SourceAlpha" stdDeviation="23" />
          <feOffset dy="5" dx="5" result="firstOffsetBlur" />
          <feComposite in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowDiff" />
          <feFlood flood-color="#ff0" />
          <feComposite in2="shadowDiff" operator="in" />
          <feComposite in2="SourceGraphic" operator="over" result="firstShadow" />
          <feGaussianBlur in="firstShadow" stdDeviation="23" />
          <feOffset dy="-5" dx="-5" />
          <feComposite in2="firstShadow" operator="arithmetic" k2="-1" k3="1" result="shadowDiff" />
          <feFlood flood-color="#D067B5"/>
          <feComposite in2="shadowDiff" operator="in" />
          <feComposite in2="firstShadow" operator="over">
        </filter>
      </defs>
      <rect width="100%" height="100%" filter="url(#magenta-rectangle-shadow)" fill="#E7C3F2" />
    </svg> -->
    <!-- TRIANGLE -->
    <!-- <svg viewBox="0 0 100 100" preserveAspectRatio="xMinYMin" class="cyan-triangle" aria-hidden="true">
      <defs>
        <filter id="cyan-triangle-shadow">
          <feGaussianBlur in="SourceAlpha" stdDeviation="30" result="blur"></feGaussianBlur>
          <feComposite in2="SourceAlpha" operator="arithmetic" k2="-1" k3="1" result="shadowDiff"></feComposite>
          <feFlood flood-color="#68C6CC"></feFlood>
          <feComposite in2="shadowDiff" operator="in"></feComposite>
          <feComposite in2="SourceGraphic" operator="over" result="firstShadow"></feComposite>
          <feGaussianBlur in="firstShadow" stdDeviation="15"></feGaussianBlur>
          <feOffset dy="-7" dx="-12"></feOffset>
          <feComposite in2="firstShadow" operator="arithmetic" k2="-1" k3="1" result="shadowDiff"></feComposite>
          <feFlood flood-color="#68C6CC"></feFlood>
          <feComposite in2="shadowDiff" operator="in"></feComposite>
          <feComposite in2="firstShadow" operator="over"></feComposite>
        </filter>
      </defs>
      <polygon id="cyan-triangle" points="50 20, 100 100, 0 100" filter="url(#cyan-triangle-shadow)" fill="#C8F1F3"></polygon>
    </svg> -->
  </div>
</div>

<style>
/* ---- center horizontally ---- */

.header-shapes {
  position: relative;
  margin: 0 auto;
  max-width: var(--max-width);
}

.header-shapes .container {
  /* all children will be absolutely positioned, so .container will have no width
   * or height.  We just want to set its "origin" to be the center of its parent. */
  position: absolute;
  left: 50%;
}

/* ---- individual shape styles ---- */

.pink-oval {
  position: absolute;
  width: 30rem;
  transform: translate(-31.5em, -23.5em);
  opacity: 0.8;
  z-index: -1;
}
.magenta-rectangle {
  position: absolute;
  width: 25rem;
  transform: translate(8em, 20em) rotate(-12deg);
  opacity: 0.9;
  z-index: -1;
}
.cyan-triangle {
  position: absolute;
  width: 18rem;
  transform: translate(-9em, -7em) rotate(134deg);
  opacity: 0.7;
  z-index: -1;
}
</style>