---
import ColumnNormal from '@root/layouts/ColumnNormal.astro';
import LayoutDefault from '@root/layouts/LayoutDefault.astro';
import { getSeriesList, seriesIsPublished } from '@root/util/query';
import { type CollectionEntry, render } from 'astro:content';

export async function getStaticPaths() {
	const posts = await getSeriesList();
	return posts.map((post) => ({
		params: { id: post.id },
		props: post,
	}));
}
type Props = CollectionEntry<'series'>;

const post = Astro.props;
const { Content } = await render(post);
---

<LayoutDefault pageTitle={post.data.title}>
  <ColumnNormal>
    <h1 class:list={[{ unpublished : seriesIsPublished(post) }]}>{post.data.title}</h1>

    <Content />
  </ColumnNormal>
</LayoutDefault>