---
import type { CollectionEntry } from 'astro:content';
import SeriesSummary from '../content/SeriesSummary.astro';

interface Props {
  series: CollectionEntry<'series'>[];
}

const { series } = Astro.props;
---

<h1>Series</h1>
<div class="series-list">
{series.map(s => (
  <SeriesSummary series={s} />
))}
</div>