---
import type { CollectionEntry } from 'astro:content';
import { PostSummaryFromSlug } from '../writing';

interface Props {
  columns: number,
  postSlugs: {
    id: CollectionEntry<'post'>["id"],
    span: number,
    show?: { summary?: boolean, image?: boolean, tags?: boolean }
  }[]
}

const { columns, postSlugs } = Astro.props;
---

<div class="preview-grid" style=`--columns: ${columns}`>
{
  postSlugs.map(post => {
    return <div class="preview-grid-cell" style={`--span: ${post.span}`}>
      <PostSummaryFromSlug postSlug={post.id} {...(post.show ? { show: post.show } :{})} />
    </div>
  })
}
</div>

<style>
.preview-grid {
  --columns: 2;
  display: grid;
  grid-template-columns: repeat(var(--columns), minmax(0, 1fr));
	grid-auto-flow: row dense;
  gap: var(--gap-1);

  place-items: stretch;
  justify-content: stretch;
  align-content: stretch;
}

.preview-grid-cell {
  container: preview-grid / inline-size;
  grid-column: span var(--span);
}
</style>
<style is:global>
.preview-grid-cell > * {
  margin: 0;
}

.preview-grid-cell {
  display: grid;
}
</style>