---
import ColumnNormal from "@root/layouts/ColumnNormal.astro";
import LayoutDefault from "@root/layouts/LayoutDefault.astro";

import { Content as FavoriteBlogContent } from "../content/favorites/favorite-blogs.mdx";

---

<LayoutDefault pageTitle={"Resources"}>
	<ColumnNormal>
	<article>
		<div class="prose">
      <FavoriteBlogContent />
		</div>
	</article>
</ColumnNormal>
</LayoutDefault>