---
import About from '@components/home/About.astro';
import PostList from '@root/components/lists/PostList.astro';
import SeriesList from '@root/components/lists/SeriesList.astro';
import ColumnNormal from '@root/layouts/ColumnNormal.astro';
import LayoutDefault from '@root/layouts/LayoutDefault.astro';
import { getBlogPosts, getProjects, getSeriesList } from '@root/util/query';
import type { CollectionEntry } from 'astro:content';

const byDate = (a: CollectionEntry<"blog">, b: CollectionEntry<"blog">): number => b.data.datePublished.valueOf() - a.data.datePublished.valueOf();
const posts = (await getBlogPosts({ includeSeries: false })).sort(byDate);
const projects = (await getProjects()).sort(byDate);

const series = await getSeriesList();
---

<LayoutDefault pageTitle="Home">
	<ColumnNormal>
		<article>
			<About />
			<!-- Series -->
			{series.length > 0 && (<>
				<h2>Tutorial Series</h2>
				<SeriesList series={series} />
			</>)}
			<h2>Selected Projects</h2>
			<PostList posts={projects} />
			<!-- Posts -->
			<h2>Selected Posts</h2>
			<PostList posts={posts} />
		</article>
	</ColumnNormal>
</LayoutDefault>
