---
import About from '@components/home/About.astro';
import BaseHead from '@components/structure/BaseHead.astro';
import Footer from '@components/structure/Footer.astro';
import Header from '@components/structure/Header.astro';
import PostList from '@root/components/lists/PostList.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@root/consts';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.pubDate.valueOf() - b.data.pubDate.valueOf()
);
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<About />

			<div class="column-normal">
				<PostList posts={posts} />
			</div>
		</main>
		<Footer />
	</body>
</html>
