---
import About from '@components/home/About.astro';
import BaseHead from '@components/structure/BaseHead.astro';
import Footer from '@components/structure/Footer.astro';
import Header from '@components/structure/Header.astro';
import PostList from '@root/components/lists/PostList.astro';
import SeriesList from '@root/components/lists/SeriesList.astro';
import { SITE_TITLE, SITE_DESCRIPTION } from '@root/consts';
import { asyncMap } from '@root/util/async';

import { getCollection } from 'astro:content';

const posts = (await getCollection('blog')).sort(
	(a, b) => a.data.datePublished.valueOf() - b.data.datePublished.valueOf()
);

const getSeriesPosts = async () => {
	const series = await getCollection("series");

	const seriesWithPosts = asyncMap(series, async s => {
		const seriesPosts = await getCollection("blog", ({ data }) => {
			if(!data.series) { return false; }
			return data.series.seriesName.slug == s.slug;
		});

		return {
			series: s,
			posts: seriesPosts
		}
	});

	return seriesWithPosts;
}

const seriesWithPosts = await getSeriesPosts();
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<About />

			<div class="column-normal">
				<SeriesList series={seriesWithPosts} />
				<PostList posts={posts} />
			</div>
		</main>
		<Footer />
	</body>
</html>
