---
import About from '@components/home/About.astro';
import BaseHead from '@components/structure/BaseHead.astro';
import Footer from '@components/structure/Footer.astro';
import Header from '@components/structure/Header.astro';
import PostList from '@root/components/lists/PostList.astro';
import SeriesList from '@root/components/lists/SeriesList.astro';
import { SITE_TITLE } from '@root/consts';
import ColumnNormal from '@root/layouts/ColumnNormal.astro';
import { getPosts, getProjects } from '@root/util/query';

import { getCollection } from 'astro:content';

const posts = (await getPosts({ includeSeries: false }));
const projects = (await getProjects());

const entries = [...posts, ...projects].sort(
	(a, b) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf()
);

const series = await getCollection("series");
---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE}/>
	</head>
	<body>
		<Header />
		<main>
			<About />

			<ColumnNormal>
				<h1>Tutorial Series</h1>
				<SeriesList series={series} />
				<h1>Selected Posts</h1>
				<PostList posts={entries} />
			</ColumnNormal>
		</main>
		<Footer />
	</body>
</html>
