---
import ColumnNormal from "@root/layouts/ColumnNormal.astro";
import LayoutDefault from "@root/layouts/LayoutDefault.astro";
---

<LayoutDefault pageTitle={"Resources"}>
	<ColumnNormal>
	<article>
		<div class="prose">
		</div>
	</article>
</ColumnNormal>
</LayoutDefault>