---
import ColumnNormal from "@root/layouts/ColumnNormal.astro";
import LayoutDefault from "@root/layouts/LayoutDefault.astro";

import * as Components from "@components/writing";
import { Content as ResumeContent } from "@root/content/pages/resume.mdx";
---

<LayoutDefault pageTitle={"Resume"}>
<ColumnNormal>
<main>
  <article class="article-body">
    <ResumeContent components={Components} />
  </article>
</main>
</ColumnNormal>
</LayoutDefault>