---
import About from "@root/components/home/About.astro";
import ColumnNormal from "@root/layouts/ColumnNormal.astro";
import Page from "@root/layouts/Page.astro";

import { Content } from "@root/content/pages/resume.mdx";
---

<Page pageTitle={"Resume"}>
<ColumnNormal>
<main>
<article>
  <About />
  <Content />
</article>
</main>
</ColumnNormal>
</Page>