---
import ColumnNormal from "@root/layouts/ColumnNormal.astro";
import LayoutDefault from "@root/layouts/LayoutDefault.astro";
---

<LayoutDefault pageTitle={"Sitemap"}>
	<ColumnNormal>
	<article>
		<div class="prose">
      https://eighty-twenty.org/sitemap.html
		</div>
	</article>
</ColumnNormal>
</LayoutDefault>