---
import ColumnNormal from "@root/layouts/ColumnNormal.astro";
import Page from "@root/layouts/Page.astro";
---

<Page pageTitle={"Sitemap"}>
	<ColumnNormal>
	<article>
		<div class="prose">
      https://eighty-twenty.org/sitemap.html
		</div>
	</article>
</ColumnNormal>
</Page>