---
import { Content as AboutContent } from "@root/content/snippets/about-me.mdx";
---

<div id="about" class="column-normal">
	<!-- photo -->
	<div class="about-portrait">
		<img alt="Photo of me in Wakayama, Japan in May 2024" src="/images/profile/ben-wakayama-2024.png" />
	</div>
	<!-- ontro -->
	<div class="about-description">
		<div class="about-title">Benjamin R. Bray</div>
		<AboutContent />
	</div>
</div>

<style is:inline>
#about {
	display: grid;

  margin-top: 1.5rem;
	margin-bottom: 1.5rem;

	gap: 2em;
}

#about .about-portrait {
	min-width: 16rem;
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-start;
}

#about .about-portrait img {
	display: block;
}

#about .about-description {
	grid-area: intro;

	display: flex;
	flex-direction: column;
	justify-content: center;
}

#about .about-description p { margin: 0.6rem 0; }
#about .about-title         { margin: 0.6rem 0; }

#about .about-title {
	font-size: 2em;
	font-weight: var(--font-bold-weight);
}

#about .about-subtitle {
	color: var(--color-text-fainter);
}

@media (min-width: 52rem) {
	#about {
		grid-template-columns: 1fr 2fr;
		grid-template-areas: "photo intro";
	}

	#about .about-portrait {
		justify-self: stretch;
		min-height: 100%;
	}

	#about .about-portrait img {
		max-width: 100%;
		max-height: 100%;
	}
}

@media (max-width: 52rem) {

	h2 { text-align: center; }
	#about .about-title { text-align: center; }
	#about .about-subtitle { text-align: center; }

	#about {
		grid-template-areas:
			"photo"
			"intro";
	}


	#about .about-portrait {
		position: relative;
		max-height: min(50vh, 30em);
		justify-self: center;
		border-radius: 50%;
		overflow: hidden;
	}

	#about .about-portrait::after {
		content: "";
		display: block;
		padding-bottom: 100%;
	}

	#about .about-portrait img {
		position: absolute;
		width: 100%;
		object-fit: cover;
		top: -2em;
	}
}
</style>