---
interface Props {
	title: string;
	/* a plain-text description of the page for use in
	 * search result and social media link previews. */
	// metaDescription: string;
	image?: string;
}

const canonicalURL = new URL(Astro.url.pathname, Astro.site);

const { title } = Astro.props;
---

<!-- Global Metadata -->
<meta charset="utf-8" />
<meta name="viewport" content="width=device-width,initial-scale=1" />
<link rel="shortcut icon" type="image/svg+xml" href="/favicon.ico" />
<link rel="manifest" href="/site.webmanifest">

<!-- Icon Preloads -->
<link rel="preload" href="/public/icons/github.svg" as="image" />
<link rel="preload" href="/public/icons/rss.svg" as="image" />
<link rel="preload" href="/public/icons/search.svg" as="image" />

<!-- Font preloads -->
<!-- <link rel="preload" href="/fonts/lora/Lora-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin />
<link rel="preload" href="/fonts/lora/Lora-Italic-VariableFont_wght.ttf" as="font" type="font/ttf" crossorigin /> -->

<!-- Canonical URL -->
<link rel="canonical" href={canonicalURL} />

<!-- Primary Meta Tags -->
<title>{title}</title>
<meta name="title" content={title} />