---
const today = new Date();
---

<footer class="footer">
  <span style="float: left; vertical-align: middle">
    <!-- <a id="visitor-count" href="https://visitorbadge.io/status?path=https%3A%2F%2Fbenrbray.com%2F">
      <img src="https://api.visitorbadge.io/api/combined?path=https%3A%2F%2Fbenrbray.com%2F&label=Visitors&countColor=%23263759&style=flat-square" />
    </a> -->
    Powered by <a href="https://astro.build/">Astro</a> and <a
      href="https://github.com/benrbray/benrbray.github.io">hosted on GitHub</a>.
  </span>
  <!-- Generation Date -->
  <span style="float: right">
    Generated {today.toLocaleDateString(undefined, { dateStyle : "long" })}
    { !import.meta.env.PROD && `(${import.meta.env.MODE.toUpperCase()})` }
  </span>
</footer>

<style>
.footer {
	max-width: var(--max-width);
	margin: 20px auto;
	padding: 10px 30px;

	color: #aaa;
	border-top: 1px solid #aaa;
	font-size: 0.8em;
}

.footer a, .footer a:visited {
	color: #aaa;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  color: var(--font-normal-color);
}
</style>