---
import { IS_PROD } from "@root/util/query";

const today = new Date();
---

<footer class="footer">
  <div class="footer-website">
    Powered by <a href="https://astro.build/">Astro</a> and <a
      href="https://github.com/benrbray/benrbray.github.io">hosted on GitHub</a>.
  </div>
  <div class="footer-visitor">
  { IS_PROD && (<a href="https://visitorbadge.io/status?path=https%3A%2F%2Fbenrbray.com%2F">
      <img src="https://api.visitorbadge.io/api/combined?path=https%3A%2F%2Fbenrbray.com%2F&countColor=%23263759&style=flat-square&labelStyle=lower" />
    </a>) }
  { !IS_PROD && `(${import.meta.env.MODE.toUpperCase()})` }
  </div>
  <!-- Generation Date -->
  <div class="footer-generated">
    Generated {today.toLocaleDateString(undefined, { dateStyle : "long" })}
  </span>
</footer>

<style>
.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  max-width: var(--max-width);
  margin: var(--gap-1) auto;
  padding: var(--gap-1);

  border-top: 1px solid #aaa;
  color: #aaa;
  font-size: 0.8em;
}

.footer-generated { flex: 1; }
.footer-website   { flex: 1; }
.footer-visitor   { flex: 1; }
.footer-visitor a { display: inline-block; }

.footer a, .footer a:visited {
	color: #aaa;
}

.footer a {
  text-decoration: underline;
}

.footer a:hover {
  color: var(--font-normal-color);
}

@media (max-width: 40rem) {
	.footer {
    flex-direction: column;
    gap: var(--gap-0);
    text-align: center;
  }

  .footer-generated { order: 0; }
  .footer-website   { order: 1; }
  .footer-visitor   { order: 2; }
}

@media (min-width: 40rem) {
  .footer-website   { text-align: left;   }
  .footer-visitor   { text-align: center; }
  .footer-generated { text-align: right;  }
}
</style>