---
import HeaderShapes from "../design/HeaderShapes.astro";
import HeaderLink from "./HeaderLink.astro";
---

<header id="header-box">
	<HeaderShapes />
	<nav id="header">
		<div class="header-name">
			<a href="/">Benjamin R. Bray</a>
		</div>
		<div class="header-buttons">
			<div class="header-button"><HeaderLink href="/blog">Blog</HeaderLink></div>
			<div class="header-button"><HeaderLink href="/series">Guides</a></div>
			<div class="header-button">
				<HeaderLink href="/projects">Projects</HeaderLink>
			</div>
			<!-- <li class="header-button"><HeaderLink href="/favorites">Favorites</a></li> -->
			<div class="header-button"><HeaderLink href="/sitemap">Journal</a></div>
			<div class="header-button">
				<HeaderLink href="/about">Resume</HeaderLink>
			</div>
		</div>
		<div class="header-icons">
		<div class="header-icon-button">
			<HeaderLink href="/rss.xml"><img class="header-icon" src="/public/icons/rss.svg" /></HeaderLink>
		</div>
			<div class="header-icon-button">
				<HeaderLink href="https://github.com/benrbray"><img class="header-icon" src="/public/icons/github.svg" /></HeaderLink>
			</div>
			<div class="header-icon-button">
				<HeaderLink href="/search"><img class="header-icon" src="/public/icons/search.svg" /></HeaderLink>
			</div>
		</div>
	</nav>
</header>

<style>
	.header-icon {
		display: inline-block;
		height: 1.2em;
		vertical-align: baseline;
	}
	/* #header-box {
	border-bottom: 0.4rem solid var(--theme-3);
	background-color: var(--theme-2);
	color: white;
} */

	#header {
		z-index: 0;
		position: relative;
		display: flex;

		margin: 2em auto;
		padding: 0 1em;
		max-width: var(--max-width);
		font-size: 1.125em;
		font-weight: bold;

		justify-content: space-around;
		/* justify-content: center; */
		/* align-items: center; */
	}

	.header-button {
		/* flex: 1; */
		text-align: center;
	}

	.header-icon-button {
		flex: 0;
		margin-left: 0.5em;
	}

	.header-icon-button:hover {
		color: blue;
	}

	.header-buttons {
		flex: 1;
		display: flex;
		justify-content: space-around;
	}

	.header-icons {
		display: flex;
	}

	/* -------------------------------------------------------------------------- */

	.header-name {
		margin-right: 1em;
	}

	.header-name a {
		color: inherit;
	}
</style>
