---
import { type CollectionEntry } from 'astro:content';

import LayoutDefault from '@layouts/LayoutDefault.astro';
import { getProjects, shortenProjectSlug } from '@root/util/query';

import ColumnThin from '@layouts/ColumnThin.astro';
import PostContent from '@root/components/blog/PostContent.astro';
import ArticleHeader from '@root/components/blog/ArticleHeader.astro';

export async function getStaticPaths() {
	const projects = await getProjects();
  
	return projects.map((project) => ({
		params: { slug: shortenProjectSlug(project.slug) },
		props: { project },
	}));
}

type Props = { project : CollectionEntry<'blog'> };

const { project } = Astro.props;
---

<LayoutDefault pageTitle={project.data.title}>
	<ColumnThin>
	<article>
		<div class="article">
			<ArticleHeader post={project}/>
			<PostContent post={project} />
		</div>
	</article>
	</ColumnThin>
</LayoutDefault>