---
import { getProjects } from '@root/util/query';
import LayoutDefault from '@root/layouts/LayoutDefault.astro';
import ColumnNormal from '@root/layouts/ColumnNormal.astro';
import PostPreview from '@root/components/content/PostPreview.astro';

const projects = (await getProjects()).sort(
	(a, b) => b.data.datePublished.valueOf() - a.data.datePublished.valueOf()
);
---

<LayoutDefault pageTitle={"Projects"}>
<ColumnNormal>
	<h1>Projects</h1>
	<section>
			{
				projects.map((project) => (
					<PostPreview postSlug={project.slug}/>
				))
			}
	</section>
</ColumnNormal>
</LayoutDefault>