---
import { type CollectionEntry, render } from 'astro:content';

import LayoutGame from '@root/layouts/LayoutGame.astro';
import { getGames, getPostUrlBySlug } from '@root/util/query';
import FormattedDate from '@root/components/dates/FormattedDate.astro';

export async function getStaticPaths() {
	const games = await getGames();
	return games.map((game) => ({
		params: { id: game.id },
		props: game,
	}));
}

type Props = CollectionEntry<'game'>;

const game = Astro.props;
const moreGamesUrl = await getPostUrlBySlug("project/flash-games");
let { Content: GameContent } = await render(game);
---

<LayoutGame pageTitle={game.data.title}>
	<div class="content">
		<div class="header">
			<a href={moreGamesUrl}>« Benjamin R. Bray</a>
		</div>
		<h1>{game.data.title}</h1>
		<div class="date-published">
			Published <FormattedDate date={game.data.datePublished}/>
		</div>
		<div class="game-content">
			<GameContent />
		</div>
	</div>
</ColumnThin>
</LayoutGame>

<style>

</style>