---
import BaseHead from "@root/components/structure/BaseHead.astro";
import Footer from "@root/components/structure/Footer.astro";
import Header from "@root/components/structure/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "@root/consts";

---

<!doctype html>
<html lang="en">
	<head>
		<BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
	</head>
	<body>
		<Header />
		<main>
			<slot />
		</main>
		<Footer />
	</body>
</html>